/* Heading component */
.heading{
  background-color: #021d44;
  height: 40vh;
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

/* Card component */
.card-div{
  width: 25vw;
  height: 50vh;
  background-color: #3f72af;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border-color: #f73859;
  border-style: solid;
  border-width: 2px;
}
.card-div:hover{
  width: 26vw;
  height: 52vh;
}
.card-title{
  margin-top: 30px;
  margin-bottom: 60px;
  color: white;
}
.img-card{
  width: 30%;
  height: 30%;
}

/* CardList component */
.card-list{
  margin: 0 10vw;
}
